/*header{
    justify-content:flex-start;
    padding: 1em;
}

header a{
    margin-right: 1em;
}

.header-title{
    font-size: 1.5em;
}

main, form{
    padding: 1em;
    background-color: lightgray;
}


input[type="text"]{
    border-radius: 10px;
    height: 2em;
    width: 90%;
}

button{
    background-color: var(--color); 
    cursor: pointer;
    border-radius: 100%;
    width:35px;
    height: 35px;
}

button img{
    align-items: center;
}*/

*{
    box-sizing: border-box;
    margin : 0;
    font-size: 14px;
}

:root{
    --padding:0.5em;
    --color:rgb(71, 71, 199);
}

header{
    position: sticky;
    top:0;
    left:0;
    right:0;
    display: flex; 
    align-items: center;
    background-color: var(--color);
    padding: 1em 0;
    z-index: 1;
    color:white;
    justify-content:flex-start;
    padding: 1em;
}

body{
    background-color: lightgray;
}

main{
    background-color: white;   
}

button {
    cursor: pointer;
}

header a{
    margin-right: 1em;
}

.header-title{
    font-size: 1.5em;
}

main, form{
    padding: 1em;
    background-color: lightgray;
}

main{
    height:90%;
}

form{
    position:sticky;
    bottom:0px;
    left:0px;
    right: 0px;
}

.owner-popup{
    background-color: white;
    width : 30%;
    margin: 1em 0;
    border-radius: 10px;
    margin-left: auto;
}

.popup{
    background-color: green;
    width : 30%;
    margin: 1em 0;
    border-radius: 10px;
    margin-right: auto;
}

.popupuser {
    padding-top: 0.5em;
    padding-left: 0.5em;
    font-weight: 700;
}

.popuptext {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.popuphour{
    text-align: end;
    color: lightgray;
    font-size: 0.7em;
    padding-bottom: 0.5em;
    padding-right: 0.5em;
}

.daydate{
    background-color: var(--color);
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    padding: 0.2em;
}

input[type="text"]{
    border-radius: 10px;
    height: 2em;
    width: 90%;
}

button{
    background-color: var(--color); 
    cursor: pointer;
    border-radius: 100%;
    width:50px;
    height: 35px;
}

button img{
    align-items: center;
}

