header{
    justify-content: space-between;
    padding: 1em;
}

a {
    text-decoration: none;
    color: black; 
}

a[name = "link-newcount"]{
    /*position: relative;*/
    display: flex;
    align-items: center;
    border-bottom: solid;
    border-color: gray;
    border-width: 1px;
    padding: 0.5em 0;
}
 

main{
    padding: 0.5em;
}

.acronym{
    /*position: absolute;*/
    font-weight: bold;
    width :3em;
}

.currencyentire{
    /*position: absolute;
    top:1em; 
    left : 3em;
    bottom :0;*/
    color : gray;
}

.currencies-list{
    color : gray;
    padding : 0.5em;
}