
header{
    justify-content: space-between;
}

.logout{
    color: white;
    text-decoration: none;
    opacity: 0.7;
}

.logout:hover{
    opacity: 1;
}

.titre{
    padding-left: 1em;
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    font-size: 1.5em;
    z-index: 1;
}

.header_data{
    padding-top: var(--padding);
    padding-right: 1em;
}

.header_images{
    position: absolute;
    top : 0px;
    left: 0px; 
    opacity: 0.3;
    height: 3.5em;
}

.header_images img{
    width: 1em;
    height: 1em;
    margin:0.2em 0.8em;
}

.header_images .trois{
    margin-right: 1.5em;
}

.premium{
    padding-right: var(--padding);
    cursor: pointer;
}

.parameters{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.parameters-options, .help-options, .conditions-options, .share-options{ 
    position: absolute;
    right: 5px;
    top : 5px;
    background-color: white;
    z-index: 1;
    border-radius: 5px;
    border: solid 1px black;
}

.parameters-options > *, .help-options > *, .conditions-options > *, .share-options > *{
    padding: 10px 20px;
    text-decoration: none;
    background-color: transparent;
    border: solid 1px lightgray; 
    font-size: 1em;
    font-weight: 400;
    color: black;
    width: 100%;
    text-align: left; 
}

.parameters-options>*:first-child, .help-options>*:first-child, .conditions-options>*:first-child, .share-options>*:first-child{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.parameters-options>*:last-child, .help-options>*:last-child, .conditions-options>*:last-child, .share-options>*:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.parameters-options > *:hover, .help-options > *:hover, .conditions-options > *:hover, .share-options > *:hover{
    background-color: lightgray;
}

.link-tricount{
    display: inline;
    text-decoration: none;
}

.tricount:hover{
    background-color: rgb(250, 248, 248);
}
 

.tricount{
    border-bottom-style: solid;
    border-color: black;
    border-width: 1px;  
    height: fit-content;
    
}

.tricount:active{
    background-color: lightgray;
}

.tricount_title{
    padding-top:  var(--padding);  ;
    padding-bottom: calc(0.5* var(--padding)) ; 
    padding-left: var(--padding);  
    color:black;
}

.tricount_description {
    color: grey;
    font-size: 0.8em;
    padding-top: calc(0.5* var(--padding));
    padding-bottom: var(--padding);  
    padding-left: var(--padding);   
}

.id_newcount{
    position:absolute;
    bottom: 10px;
    right: 10px;
    font-size: 1.8em;
    font-weight: 700;
    color: white;
    width:1.25em;
    height : 1.25em;
    background-color: var(--color);
    border-radius: 100%;
    text-decoration: none;
    text-align: center;
}

.id_newcount:hover{
    transition: 0.2s;
    width:1.5em;
    height : 1.5em;
}

.choosecount{
    position: absolute;
    bottom : 10px;
    right : 100px;
    background-color: white;
    height: fit-content;
    width :fit-content;
    margin-top: auto;
    margin-left: auto;
    border-radius: 10px;
    border: solid 1px black;
}

.choosecount a, .choosecount button{
    border-radius: 10px;
    display: block;
    text-decoration: none;
    color: black;
    padding: 1em;
}

.choosecount button{
    border: none;
    background-color: white; 
    font-weight: 550;
}


.choosecount a:hover, .choosecount button:hover{
    background-color: lightgray;
}
 

.form-pwdcount{
    position: absolute; 
    bottom : 10px; 
    right:100px; 
    background-color: transparent; 
    margin-top: auto;
    margin-left: auto;
    border-radius: 5px; 
}
 

.form-pwdcount > *{
    width: 300px;
    height: 40px;
    padding: 0 1em;
}

.form-pwdcount input:focus{
    transition: .5s;
    font-size: 0.7em;
    color:blue;
}

input[type = "submit"]{
    background-color: white;  
    cursor: pointer;
    border-radius: 5px;  
    font-weight: 600;
}

input[type = "submit"]:hover{
    color: blue;
}

.error{
    background-color: transparent;
    font-size: 0.8em;
    color:red;
    font-weight: 600;
    padding-left:0.5em;
    height:fit-content
}

@media screen and (max-width: 1035px) { 
    .form-pwdcount input, .form-pwdcount button{
        display: block;
    }
}

