header .backtospending {
  padding-left: 1em;
}
header .backtospending img:hover {
  width: 25px;
  transition: 0.2s;
}
header .header-title {
  color: white;
  padding: 0 2em;
  font-size: 1.2em;
  font-weight: 500;
}

.title {
  display: block;
  padding-top: 2em;
  margin: 0 1em;
  width: 450px;
}
.title:focus {
  outline: none;
  border-color: rgb(71, 71, 199);
}
.title:focus::placeholder {
  color: rgb(71, 71, 199);
  transform: translate(0, -20px);
  font-size: 10px;
  transition: 0.2s;
}

.counter {
  color: gray;
  text-align: begin;
  font-size: 0.8em;
  margin-left: 1.5em;
  /*width : 95%;*/
}

.notitle {
  color: red;
  margin: 0 1em;
  font-size: 0.8em;
}

@media screen and (min-width: 480px) {
  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.div-amount {
  display: inline-block;
  margin: 0 1em;
  width: 450px;
}
.div-amount .amount {
  padding-top: 2em;
  width: 350px;
}
.div-amount .amount:focus {
  outline: none;
  border-color: rgb(71, 71, 199);
}
.div-amount .amount:focus::placeholder {
  color: rgb(71, 71, 199);
  transform: translate(0, -20px);
  font-size: 10px;
  transition: 0.2s;
}
.div-amount .newtricount_currency {
  width: 90px;
}
.div-amount ::after {
  content: "Paid by";
  color: gray;
  display: block;
  font-size: 10px;
  position: absolute;
  top: 170px;
  left: 1.5em;
}
@media screen and (min-width: 955px) {
  .div-amount ::after {
    top: 120px;
  }
}
@media screen and (min-width: 1430px) {
  .div-amount ::after {
    top: 60px;
    left: 970px;
  }
}

.div-receiver, .spender, input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: gray;
}

.spender {
  padding: 0.5em 0;
  margin: 1.5em 1em 1em 1em;
  width: 450px;
}
.spender:focus {
  border-color: rgb(71, 71, 199);
  outline: none;
}

.forwho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  padding: 1em;
  text-transform: uppercase;
  color: gray;
  font-size: 0.8em;
  width: 100%;
}
.forwho .div-forwho {
  display: inline-block;
}
.forwho .div-forwho .toggle-checkboxes {
  margin-right: 1em;
}
.forwho .special-parameters {
  background-color: transparent;
  border: none;
  color: rgb(71, 71, 199);
}

.div-receiver {
  display: flex;
  padding: 1em 0;
  margin: 0 1em;
  align-items: center;
  width: 420px;
}
@media screen and (min-width: 460px) {
  .div-receiver {
    margin-right: 2em;
  }
}
.div-receiver label {
  padding-left: 0.5em;
}
.div-receiver .amount-and-parts {
  display: flex;
  align-items: center;
  margin-left: auto;
  text-transform: uppercase;
  color: gray;
}
.div-receiver .amount-and-parts input {
  width: 80px;
}
.div-receiver input {
  color: gray;
  outline: none;
  border-color: gray;
}

@media screen and (min-width: 460px) {
  .list-receivers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.submit-spending {
  border: none;
  background: transparent;
}
.submit-spending img {
  position: absolute;
  right: 1em;
  top: 1em;
}

.delete-spending {
  display: block;
  width: fit-content;
  margin: 2em auto;
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: red;
  font-size: 0.8em;
  font-weight: 600;
  padding: 1em;
  border: 1px solid red;
  border-radius: 10px;
}

.delete-spending:hover {
  background-color: white;
  opacity: 0.7;
}

.delete-confirmation {
  width: fit-content;
  margin: auto;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  border-style: solid;
  padding: 0 0.5em;
}
.delete-confirmation .alert {
  display: flex;
  justify-content: space-around;
}
.delete-confirmation .alert a {
  width: fit-content;
  border-color: var(--color);
  border-width: 1px;
  border-radius: 1px;
  border-style: solid;
  text-decoration: none;
  color: var(--color);
  margin: 1em;
  padding: 0 0.5em;
}
.delete-confirmation .alert a:hover {
  background-color: lightblue;
}

/*# sourceMappingURL=newspending.css.map */
