*{
    box-sizing: border-box;
    margin : 0;
    font-size: 14px;
}

:root{
    --padding:0.5em;
    --color:rgb(71, 71, 199);
}

body{
    background-color: lightgray;
}

header{
    display: flex;
    align-items: center;
    background-color: var(--color);
    padding: 1em;
    z-index: 1;
}

.header-title{
    color: white;
    padding: 0 2em ;
    font-size: 1.2em;
    font-weight: 500;

}

main{
    background-color: white; 
    /*padding: 1em;*/
}

.forwho{
    background-color: lightgray;
    padding: 1em 1em;
    text-transform: uppercase;
    color: gray;
    font-size: 0.8em;
}

.title{
    display: block;
    padding-top: 2em;
    width: 94%;
}

.amount{
    padding-top: 2em;
    width:85%
}


.title, .div-amount, .div-receiver, .spender{
    margin: 0 1em ;
}

input, select, .div-receiver{
    border-top:none;
    border-left: none;
    border-right: none;
    border-bottom-color: gray;
}


.div-amount{
    display: block;
    /*padding-top: 2em;*/
    width: 100%;
}
 
.title:focus, .amount:focus, .spender:focus{
    outline:none;
    border-color: var(--color);
}

.title:focus::placeholder, .amount:focus::placeholder {
    color: var(--color);
    transform: translate(0,-20px);
    font-size: 10px;
    transition: 0.2s;
}

.spender{
    padding: 0.5em 0;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width:94%;
}

.spender:focus{
    border-color: var(--color);
}

.div-amount::after{
    content: "Payé par";
    color: gray;
    display: block;
    font-size: 10px; 
    transform: translateY(2.5em);
}

.div-receiver{
    display: block;
    padding: 1em 0;
    align-items: center;
}

.div-receiver label{
    padding-left: 0.5em;
}

.submit-spending{ 
    border: none;
    background: transparent;
}

.submit-spending img{ 
    position: absolute;
    right : 1em;
    top : 1em;
}

