*{
    box-sizing: border-box;
    margin : 0;
    font-size: 14px;
}

:root{
    --padding:0.5em;
    --color:rgb(71, 71, 199);
}


header{
    background-color: var(--color);
    color: white;
    height: 7em;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
}

.header-nav a{
    text-decoration: none;
    color : white;
}
 
.tricount-characteristics p:first-child{
    font-size: 1.2em;
}

.tricount-characteristics p:last-child{
    font-size: 0.8em;
    opacity: 0.9;
}

.backtolistecount img{
    width : 20px; 
}

.header-spending{
    display: flex;
    justify-content: space-around;
    align-items: center; 
}

.header-spending button{ 
    width: 50%;
    height : 3.5em;
    background-color: transparent;
    color: white;
    border: none;
    opacity: 0.7;
}

.header-spending button:focus{
    opacity: 1;
}

.header-spending button:focus::after{
    content: "";
    display: block;
    height:2px;
    width: 100%;
    background-color: orange;
    transform: translate(0,1.25em);
}

main{
    background-color: white;
    
}

body{
    background-color: lightgray;
}

.spending{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0.5em 1em;
}


.spending-reason p:first-child, .spending-amount p:first-child{
    color:var(--color)
 
}

.spending-reason p:last-child{
    font-size: 0.8em;
    opacity: 0.8;
} 

.spending-amount p:last-child{
    font-size:0.7em;
    opacity: 0.5; 
    text-align: end;
}


footer{
    position: absolute;
    bottom :0;
    width:100%; 
}

.footer{
    display: flex;
    padding: 0.5em 1em;
    background-color: black;
}

.total-cost{ 
    width:50%;
    margin-right: auto;
}

.total-cost p:first-child, .total-spending p:first-child{
    color: grey;
    text-transform: uppercase;
    font-size: 0.8em;
}

.total-cost p:last-child, .total-spending p:last-child{
    color: white;
}

.total-spending p:last-child{
    text-align: end;
}


.total-amount{ 
    width: 50%; 
}

.new-spending{
    transform: translate(200px,20px);
    display: inline-block;
    color: white;
    background-color: var(--color);
    border-radius: 50%; 
    font-size: 1.6em;
    font-weight: 700;
    color: white;
    width:1.8em;
    height : 1.8em;
    text-decoration: none;
    text-align: center; 
    padding-top: 0.35em;
}

