{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{%static 'css/chat.css'%}">
    <title>Chat</title>
{% endblock %}

{% block header %}
    <a href="/tricount/{{id}}" class = "backtospending" id = "backtospending"><img width = "20px" src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
    <nav>
        <p class = "header-title">Titre</p>
        <p class = "header-participants">Participants</p>
    </nav>
{% endblock %} 

{% block footer %}
    <div>
        <textarea class = "send" placeholder = "Ajoutez un message..."></textarea>
        <button class = "submit"><img width = "20px" src = "{%static 'images/send.png'%}" alt="send"></button>
    </div>
{% endblock %}

{% block js %}
    <script src = "chat.js"></script>
{% endblock %}

 
 

   