{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{%static 'css/chat.css'%}">
    <title>Chat</title>
{% endblock %}

{% block header %}
    <a href="/tricount/{{id}}" class = "backtospending" id = "backtospending"><img width = "20px" src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
    <nav>
        <p class = "header-title" id="{{id}}">{{count.title}}</p>
        <p class = "owner">{{user}}</p>
        <p class = "header-participants">Participants au chat : </p>
        {% for participant in count.participants%}
            <p class = "header-participants">{{participant}}</p>
        {% endfor %}
    </nav>
{% endblock %} 

{% block main %}
    {% for date, messages in date_messages.items %}
        <div class="daydate">{{date}}</div>
        {% for message in messages %}
            <div class = "{% if message.writer == user %} owner-popup {% else %} popup  {% endif %}">
                <p class = "user">{{message.writer}}</p>
                <p class = "text">{{message.content}}</p>
                <p class = "time">{{message.time}}</p>
            </div>
        {% endfor %}
    {% endfor %} 
{% endblock%}

{% block footer %} 
    <textarea class = "message" placeholder = "Ajoutez un message..."></textarea>
    <button class = "submit"><img width = "20px" src = "{%static 'images/send.png'%}" alt="send"></button>
{% endblock %}

{% block js %}
    <script src = "{% static 'js/chat.js' %}"></script>
{% endblock %}

 
 

   