<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice of the currency</title>
</head>
<body>
    <nav>
        <a class = "backtonewcount" href = "">retour</a>
        <p>Sélectionner une devise</p>
        <a href="" class = "currencyresearch">loupe</a>
    </nav>
    <main> 
            {% for acronym, currency in currencies.items%} 
            <a href="/count/{{user}}/newcount?parametre1={{acronym}}" class = "{{acronym}}">
                <p class = "{{acronym}}"> {{acronym}} </p>
                <p class = "currencyentire"> {{currency}}</p> 
            </a>
            {% endfor %}
            {% csrf_token %}
        </form>
    </main>
</body>
</html>