{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice of the currency</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/currency.css' %}">
</head>
<body>
    <header>
        <a href="/count/{{user}}/newcount" class = "backtonewcount" id = "backtonewcount"><img width = 20px src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
        <input type="text" hidden name="research" class ="research">
        <p id = "select">Sélectionner une devise</p>
        <button href="" class = "currencyresearch" id = "loupe">loupe</button>
    </header>
    <main>
        <a hidden href="/count/{{user}}/newcount?parametre1=EUR" class = "EUR" name = "link-newcount">
            <p class = "acronym"> EUR </p>
            <p class = "currencyentire"> {{currencies.EUR}}</p> 
        </a>
        <a href="/count/{{user}}/newcount?parametre1=CHF" class = "CHF" name = "link-newcount">
            <p class = "acronym"> CHF </p>
            <p class = "currencyentire"> {{currencies.CHF}}</p> 
        </a>
        <a href="/count/{{user}}/newcount?parametre1=GBP" class = "GBP" name = "link-newcount">
            <p class = "acronym"> GBP </p>
            <p class = "currencyentire"> {{currencies.GBP}}</p> 
        </a>
        <a href="/count/{{user}}/newcount?parametre1=USD" class = "USD" name = "link-newcount">
            <p class = "acronym"> USD </p>
            <p class = "currencyentire"> {{currencies.USD}}</p> 
        </a>
    </main>
    <div class = 'currencies-list'> Toutes les devises </div>
    <main> 
            {% for acronym, currency in currencies.items%} 
            <a href="/count/{{user}}/newcount?parametre1={{acronym}}" class = "{{acronym}}" name = "link-newcount">
                <p class = "acronym"> {{acronym}} </p>
                <p class = "currencyentire"> {{currency}}</p> 
            </a>
            {% endfor %}
            {% csrf_token %}
        </form>
    </main>
    <script src = "{% static 'js/currency.js'%}"></script>
</body>
</html>