<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice of the currency</title>
</head>
<body>
    <nav>
        <a class = "backtonewcount" href = "">retour</a>
        <p>Sélectionner une devise</p>
        <a href="" class = "currencyresearch">loupe</a>
    </nav>
    <main>
        <div class = "currency">
            <p class = "currencyabbreviate"> EUR</p>
            <p class = "currencyentire"> Euro</p>
        </div>
    </main>
</body>
</html>