{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tricount</title>
    <link rel="stylesheet" href="{% static 'listecount.css' %}">
</head>
<body>
    <header>
        <div class="titre"> tricount</div>
        <nav>
            <a href="" class="premium"><img width = 20px src="{% static 'images/crown.png' %}" alt="premium"></a>
            <a href="" class="options"> <img width = 20px src="{% static 'images/settings.png' %}" alt="parameters"> </a>
        </nav>
    </header>
    <main>
        {% for count in counts %}
        <div class="tricount"> 
            <p class = "tricount_title"> {{count.title}} </p>
            <p class = "tricount_description"> {{count.description}} </p>
        </div>
        {% endfor %}
    </main>
    <footer>
        <a class ="id_newcount" id = "id_newcount" href="/count/newcount"> + </a>
    </footer>
</body>
</html>