{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Tricount list</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block header %}
    <div class="titre"> tricount</div>
    <nav class = "header_data">
        <a href="" class="premium"><img width = 20px src="{% static 'images/crown.png' %}" alt="premium"></a>
        <button data-button="JS" class="parameters"> <img width = 20px src="{% static 'images/settings.png' %}" alt="parameters"> </button>
    </nav>
{% endblock %}

{% block main %}
    <div data-div = "hidden" class = "parameters-options" hidden>
        <a href=""> Premium </a>
        <a class = "myparameters" href="{% url 'logout' %}"> Mes paramètres </a>
        <button data-button="JS" class = "share"> Partagez l'app </button>
        <a href=""> Evaluez l'app</a>
        <button data-button="JS" class = "help"> Aide </button>
        <button data-button="JS" class = "conditions"> Conditions et confidentialité </button>
    </div>

    <div data-div = "hidden" class = "help-options" hidden>
        <a href="">A propos</a>
        <a href="">Questions fréquentes</a>
        <a href="">Contacter tricount</a>
    </div>

    <div data-div = "hidden" class = "conditions-options" hidden>
        <a href=""> Conditions générales</a>
        <a href=""> Politique de vie privée</a>
        <a href=""> Gestion des cookies</a>
    </div>

    <div data-div = "hidden" class = "share-options" hidden>
        <a href=""> test</a> 
    </div>

    <!--<div class = "header_images">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
    </div>-->

    <main> 
        {% for count in counts %}
            <a class = "link-tricount" id="link-tricount-{{count.id}}" href="{% url 'spending' count.id %}">
                <div class="tricount"> 
                    <p class = "tricount_title"> {{count.title}} </p>
                    <p class = "tricount_description"> {{count.description}} </p>
                </div>
            </a>
        {% endfor %} 
    </main>
    <div class = "create-tricount" hidden>
        <a class = "link-join-tricount" href="">
            <p>Rejoindre un tricount</p>
            <p>Importer un tricount existant</p>
        </a>
        <a class = "link-create-tricount" href="">
            <p>Nouveau tricount</p>
            <p>Faire ses comptes entre amis</p>
        </a>
    </div>
{% endblock %}

{% block footer %}
    <button data-button="JS" class ="id_newcount" id = "id_newcount"> + </button>

    <div data-div = "hidden" class = "choosecount" hidden>
        <a href="{% url 'newcount' %}" id = "countfromzero"> Créer un nouveau tricount </a>
        <button class = "clonecount" href=""> Clôner un tricount existant </button> 
    </div>

    <div data-div = "hidden" class = 'form-pwdcount' hidden>
        <form  class = "pwdcount" method = "POST" action = "{% url 'clonecount' %}"> 
            <input type="text" class = "tricount-title" placeholder="Titre du tricount" name = "tricount-title" autocomplete="off">
            <input type="password" class = "password" placeholder="Mot de passe du tricount" name = "password" autocomplete="new-password">
            <input type="submit" class = "pwdsubmit" placeholder="submit password">
            {% csrf_token %} 
        </form>
        <div class="error" hidden> Remplissez le titre et le mot de passe</div>
    </div> 
{% endblock %}

{% block js %}
    <script src="{% static 'js/index2.js' %}"></script>
{% endblock %}

    