{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Log in</title>
{% endblock %}

{% block header %}
    <a class = "welcome" href="{% url 'welcome' %}">Créer un compte</a>
    <a class = "login" href="{% url 'log' %}">Se connecter</a>
{% endblock %}

{% block main %}
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input class = "username" type="text" placeholder="Username" name = "username"> 
        <input class = "password" type="password" placeholder="Password" name="password">
        <input class = "submit" type="submit">
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} 
{% endblock %}

{% block js %}
    <script src = "{% static 'js/login.js' %}"></script>
{% endblock %}


 