{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Modify tricount</title> 
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/modifycount.css' %}">
{% endblock %}

{% block header %}
    <a href="{% url 'spending' count.id %}" class = "backtotricount" id = "backtotricount"><img src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
    <div class = "titre" id = {{count.id}}>Modifier le tricount</div>
{% endblock %}

{% block main %}
        <form method="POST" class = "tricount" action="{% url 'modifycountregister' count.id %}">
            {% csrf_token %}
            <input type ="text" class = "tricount_title" value = "{{count.title}}" placeholder="Titre" name= "tricount_title">  
            <p class="error" id="title-error" hidden >Le titre doit comporter au moins un caractère.</p>

            <input type ="text" class = "tricount_description" value = "{{count.description}}" placeholder="Description" name = "tricount_description">
            <p class = "error" id="description-error" hidden>La description doit comporter au moins un caractère.</p>
            
            <p class = "currency"> <strong>Devise :</strong> {{count.currency}} </p>

            <p class = "category"> <strong>Catégorie :</strong> {{count.category}}</p>
            
            <div class = "participants"> 
                <p> Participants au tricount </p> 
            </div>

            <div class = "participants-container">
                {% for participant in count.participants%}
                <div class = "printparticipant">
                    <input class = "nameparticipant" type="text" value = "{{participant}}" name = "nameparticipant">
                    <button class = "closeparticipant" name = "{{participant}}" ><img src="/static/images/close.png" alt="fermeture"></button>
                </div> 
                {% endfor%}
            </div>
            <p class="error participant-error" id="participant-error" hidden>Il faut au moins deux participants.</p> 


            <button class = "submittricount" name = "submit"> <img src="{% static 'images/check.png' %}" alt="validation"></button> 


        </form>
        <input type ="text" name="new_participant" class ='new_participant' placeholder="Autre participant">
        <button class = "add_participant">Ajouter</button>
{% endblock %}

{% block footer %}
    <button class = "delete-tricount"> Supprimer ce tricount</button>
{% endblock %}

{% block js %}
    <script src="{% static 'js/modifycount.js' %}"></script>
{% endblock %}

