{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Modify tricount</title> 
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/modifycount.css' %}">
{% endblock %}

{% block header %}
    <a href="{% url 'spending' count.id %}" class = "backtotricount" id = "backtotricount"><img src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
    <div class = "titre">Modifier le tricount</div>
{% endblock %}

{% block main %}
        <form method="POST" class = "tricount" action="{% url 'modifycountregister' count.id %}">
            {% csrf_token %}
            <input type ="text" class = "tricount_title" value = "{{count.title}}" name = "tricount_title">  

            {% if titre == False %}
                <p class="error">Le titre doit comporter au moins un caractère.</p>
            {% endif %}

            <input type ="text" class = "tricount_description" value = "{{count.description}}" name = "tricount_description">
            
            <p class = "currency"> Devise : {{count.currency}} </p>

            <p class = "category"> Catégorie : {{count.category}}</p>
            
            <div class = "participants"> 
                <p> Participants au tricount </p> 
            </div>

            <div class = "participants-container">
                {% for participant in count.participants%}
                <div class = "printparticipant">
                    <input class = "nameparticipant" type="text" value = "{{participant}}" name = "nameparticipant">
                    <button class = "closeparticipant" name = "{{participant}}" ><img src="/static/images/close.png" alt="fermeture"></button>
                </div> 
                {% endfor%}
            </div>

            <button class = "submittricount" name = "submit"> <img src="{% static 'images/check.png' %}" alt="validation"></button> 


        </form>
        <input type ="text" name="new_participant" class ='new_participant' placeholder="Autre participant">
        <button class = "add_participant">Ajouter</button>
{% endblock %}

{% block footer %}
    <button class = "delete-tricount"> Supprimer ce tricount</button>
    <div class = 'delete-confirmation' hidden>
        Confirmez-vous vouloir supprimer le tricount 
        <div class = 'alert'>
            <a class = 'yesno' id = "yes" href = "{% url 'deletecount' count.id %}">Oui</a>
            <a class = 'yesno' id = "no" href = ''>Non</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/modifycount.js' %}"></script>
{% endblock %}

