{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Modify spending</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/newspending.css' %}">
{% endblock %}

{% block header %}
    <a href="{% url 'spending' count.id %}" class = "backtospending" id = "backtospending"><img width = 20px src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
    <p class = "header-title" id="{{spending.id}}">Modifier la dépense</p>
    <p class = 'tricount' id='{{count.id}}' hidden></p>
{% endblock %}

{% block main %}
        <form action="{% url 'modifyspendingregister' count.id spending.id %}" method = "post">
            <div class="title-input">
                <input class = "title" type="text" placeholder="{{spending.title}}" value = {{spending.title}} name = "title"> 
                {%if titre == False%}
                    <p class = "notitle">Titre non valable</p>
                {%endif%}
                <p class = "counter">0/50</p>
            </div>
            <div class = "div-amount">  
                <input class = "amount" type="text" value="{{spending.amount|floatformat:2}}" id="amount" name = "amount"> 
                <a href="/choosecurrency?referer=/modifyspending/{{count.id}}/{{spending.id}}" class = "choose-currency"><input type= "text" class = "newtricount_currency" value = "{{count.currency}}" name = "newtricount_currency"></a>
            </div>
            <select class = "spender" name="spender" id="spender">
                <option class = "spender-participant" value="{{spending.payer}}" selected>{{spending.payer}}</option> 
                {% for participant in participants%}
                    {% if participant != spending.payer %}
                        <option class = "spender-participant" value="{{participant}}">{{participant}}</option> 
                    {% endif %}
                {%endfor%}
            </select>   
            <div class = "forwho">
                <div class ="div-forwho">
                    <input class = "toggle-checkboxes" type="checkbox" checked>
                    Pour qui
                </div>
                <button class = "special-parameters">Avancé</button>
            </div> 
            <div class = "list-receivers">
                {% for participant, amount in spending.receivers.items%}
                <div class = "div-receiver">
                    <input class = "receiver" type="checkbox" name="receiver" id="{{participant}}" value = "{{participant}}" checked>                     
                    <label class = "receiver-participant" for="{{participant}}">{{participant}}</label> 
                    <div class = "amount-and-parts"> 
                        <input name = "{{participant}}" type = "text" class = "{{participant}}-amount" value = "{{amount}}">
                        <p class = "p-currency">{{currency}}</p>
                    </div>
                </div> 
                {% endfor %}
                {% for participant in participants%}    
                    {% if participant not in spending.receivers.keys%}
                        <div class = "div-receiver">
                                <input class = "receiver" type="checkbox" name="receiver" id="{{participant}}" value = "{{participant}}">                     
                            <label class = "receiver-participant" for="{{participant}}">{{participant}}</label> 
                            <div class = "amount-and-parts"> 
                                <input name = "{{participant}}" type = "text" class = "{{participant}}-amount" value = "0.00">
                                <p class = "p-currency">{{currency}}</p>
                            </div>
                        </div> 
                    {% endif %}
                {% endfor %}
            </div>
            <button class = "submit-spending" name = "submit"> <img width= 20px src="{% static 'images/check.png' %}" alt="validation"></button>
            {% csrf_token %}
        </form>
{% endblock %}

{% block footer %}
    <button class = "delete-spending"> Supprimer cette dépense</button>
    <div class = 'delete-confirmation' hidden>
        Confirmez-vous vouloir supprimer la dépense 
        <div class = 'alert'>
            <a class = 'yesno' id = "yes" href = "{% url 'deletespending' count.id spending.id %}">Oui</a>
            <a class = 'yesno' id = "no" href = ''>Non</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src = "{%static 'js/newspending.js'%}"></script>
{% endblock %}