{%load static%}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau tricount</title>
</head>
<body>
    <header>
        <a href="/count" class = "backtotricount"><img src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
        <div>Nouveau tricount</div>
    </header>
    <main>
        <form method="POST" class = "newtricount" action="/count/newcount/addcount">
            <input class = "newtricount_title" placeholder="Title" name = "newtricount_title"> 
            {% if titre == False %}
                <p class="error">Le titre doit comporter au moins un caractère.</p>
            {% endif %}
            <input class = "newtricount_description" placeholder="Description" name = "newtricount_description"> 
            <select class = "newtricount_category" name="newtricount_category" id="newtricount_category">
                <option value="trip">Voyage</option>
                <option value="coloc">Coloc</option>
                <option value="couple">Couple</option>
                <option value="event">Evénement</option>
                <option value="project">Projet</option>
                <option value="other">Autre</option>
            </select>
            <input type="submit" name = "submit"> 
            {% csrf_token %}
        </form>
        <form method="post" class = "addparticipant" action="/count/newcount/addcount/addparticipant">
            {% for participant in participants %}
            <div>
                <p class = "nameparticipant"> {{participant.name}}</p>
            </div>
            {% endfor %}
            <input name="new_participant" class ='new_participant' placeholder="Autre participant">
            <button class = "add_participant">Ajouter</button>
            {% csrf_token %}
        </form>
    </main>
</body>
</html>