{%load static%}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouveau tricount</title>
    <link rel="stylesheet" href="{% static 'newcount.css' %}">
</head>
<body>
    <header> 
        <a href="/count" class = "backtotricount" id = "backtotricount"><img src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
        <div class = "titre">Nouveau tricount</div>
    </header>
    <!--<div class = "header_images">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
        <img class = "trois" src="{% static 'images/internet.png' %}" alt="web">
        <img src="{% static 'images/dollar-bill.png' %}" alt="billet">
        <img src="{% static 'images/scale.png' %}" alt="scale">
    </div>-->
    <main>
        <form method="POST" class = "newtricount" action="/count/newcount/addcount">
            <input class = "newtricount_title" placeholder="Titre" name = "newtricount_title"> 
            {% if titre == False %}
                <p class="error">Le titre doit comporter au moins un caractère.</p>
            {% endif %}
            <input class = "newtricount_description" placeholder="Description" name = "newtricount_description">
            
            <!--
            <select class = "newtricount_category" name="newtricount_category" id="newtricount_category">
                <option value="trip">Voyage</option>
                <option value="coloc">Coloc</option>
                <option value="couple">Couple</option>
                <option value="event">Evénement</option>
                <option value="project">Projet</option>
                <option value="other">Autre</option>
            </select>
            -->
            <p class="title_category"> Catégorie </p> 
            <div class = "category" name = "category" >
                <input class = "newtricount_category" type="radio" id="trip" name="newtricount_category" value="trip">
                <label for="trip">Voyage</label>
                <input class = "newtricount_category" type="radio" id="coloc" name="newtricount_category" value="coloc">
                <label for="coloc">Coloc</label>
                <input class = "newtricount_category" type="radio" id="couple" name="newtricount_category" value="couple">
                <label for="couple">Couple</label>
                <input class = "newtricount_category" type="radio" id="event" name="newtricount_category" value="event">
                <label for="event">Evénement</label>
                <input class = "newtricount_category" type="radio" id="project" name="newtricount_category" value="project">
                <label for="project">Projet</label>
                <input class = "newtricount_category" type="radio" id="other" name="newtricount_category" value="other">
                <label for="other">Autre</label>
            </div>

            <button class = "submittricount" name = "submit" href="/count"> <img src="{% static 'images/check.png' %}" alt="validation"></button> 
            {% csrf_token %}
        </form>
        <div class = "nb_participants"> Participants (/50)</div>
        <form method="post" class = "addparticipant" action="/count/newcount/addcount/addparticipant">
            <div class = "participants">
                {% for participant in participants %}
                <div class = "printparticipant">
                    <p class = "nameparticipant"> {{participant.name}}</p>
                    <button class = "closeparticipant"><img src="{%static 'images/close.png'%}" alt="fermeture"></button>
                </div>
                {% endfor %}
            </div>
            <input name="new_participant" class ='new_participant' placeholder="Autre participant">
            <button class = "add_participant">Ajouter</button>
            {% csrf_token %}
        </form>
    </main>
</body>
</html>