{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>New spending</title> 
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/newspending.css' %}">
{% endblock %}

{% block header %}
    <a href="{% url 'spending' idcount %}" class = "backtospending" id = "backtospending"><img width = 20px src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
    <p class = "header-title">Nouvelle dépense</p>
{% endblock %}

{% block main %}
    <form action="{% url 'addspending' idcount %}" method = "post">
        <div class="title-input">
            <input class = "title" type="text" placeholder="Titre" name = "title"> 
            <p class = "notitle" id="title-error" hidden>Il faut un titre</p> 
            <p class = "counter">0/50</p>
        </div>
        <div class = "div-amount">
            <input class = "amount" type="text" placeholder="Montant" id="amount" name = "amount"> 
            <a href="/choosecurrency?referer=/newspending/{{idcount}}" class = "choose-currency"><input type="text" class = "newtricount_currency" placeholder="{{currency}}" value = "{{currency}}" name = "newtricount_currency"></a>
        </div>
        <select class = "spender" name="spender" id="spender">
            {% for participant in participants%}
            <option class = "spender-participant" value="{{participant}}">{{participant}}</option> 
            {%endfor%}
        </select>  
        <div class = "forwho">
            <div class ="div-forwho">
                <input class = "toggle-checkboxes" type="checkbox" checked>
                Pour qui
            </div>
            <button class = "special-parameters">Avancé</button>
        </div> 
        <div class = "list-receivers">
            {% for participant in participants%}
            <div class = "div-receiver">
                <input class = "receiver" type="checkbox" name="receiver" id="{{participant}}" value = "{{participant}}" checked>
                <label class = "receiver-participant" for="{{participant}}">{{participant}}</label> 
                <div class = "amount-and-parts"> 
                    <input name = "{{participant}}" type = "text" class = "{{participant}}-amount" value = "0.00">
                    <p class = "p-currency">{{currency}}</p>
                </div>
            </div> 
            {% endfor %}
        </div>
        <p class = "notitle" id="participant-error" hidden>Il faut au moins cocher une personne</p> 
        <button class = "submit-spending" name = "submit"> <img width= 20px src="{% static 'images/check.png' %}" alt="validation"></button>
        
        {% csrf_token %}
    </form>
{% endblock %}

{% block js %}
    <script src = "{%static 'js/newspending.js'%}"></script>
{% endblock %}