{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending</title> 
    <link rel="stylesheet" href="{% static 'css/spending-equilibria.css'%}">
</head>
<body>
    <header>
        <nav class = "header-nav"> 
            <a href="{% url 'listecount' %}" class = "backtolistecount" id = "backtolistecount"><img src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
            <div class = "tricount-characteristics" >
                <p class = "tricount-title">{{count.title}}</p>
                {% for name in total_credit.keys %}
                <p class = "tricount-participants">{{name}}</p>
                {% endfor %}
            </div>
            <button class = "share">Partager</button>
        </nav>
        <div class = header-spending>
            <a class = "gotospending" href = "{% url 'spending' count.id %}">Dépenses</a>
            <a class = "gotoequilibria" href = "{% url 'equilibria' count.id %}">Equilibres</a>
        </div>
    </header>
    <main> 
        {% for name,credit in total_credit.items %} 
            {% if credit >= 0 %}
            <div class = "credits" name = "credits-positive">
                <div><p class = participant name = "{% if name == user %}owner{%else%}other{%endif%}"> {{name}} </p></div>
                <div><p class = "amount"> {{credit}} {{count.currency}}</p></div>
            </div> 
            {% else %}
            <div class = "credits" name = "credits-negative">
                <div><p class = "amount"> {{credit}} {{count.currency}}</p></div>
                <div><p class = participant name = "{% if name == user %}owner{%else%}other{%endif%}"> {{name}}</p> </div>
            </div> 
            {% endif %}
        {% endfor %}

        <p class = "equilibrating">
            Comment puis-je équilibrer?
        </p> 

        {% for debitor, debitor_data in transfert_to_equilibrium.items %}
            {% for creditor, amount in debitor_data.items %}
                {% if debitor == user or creditor == user %}
                {% if amount != 0%}
                <div class = "reimbursement" name = "userinclude">
                    <div class = "reimbursement-details">
                        <div class = "onetoone">
                            <p class = "who">{{debitor}}</p>
                            <p class = "dueto">doit à </p>
                            <p class = "who">{{creditor}}</p>
                        </div>
                        <p class = "reimbursement-amount">{{amount}} {{count.currency}}</p>
                    </div>
                    <div class = "more-options">
                        Plus d'options
                    </div>
                </div>
                {% endif %}
                {% endif %}
            {%endfor%}
        {%endfor%}

        
        <p class = "equilibrating">
            Autres remboursements
        </p> 
        {% for debitor, debitor_data in transfert_to_equilibrium.items %}
            {% for creditor, amount in debitor_data.items %}
                {% if debitor != user and creditor != user%}
                <div class = "reimbursement" name = "nouserinclude">
                    <div class = "reimbursement-details">
                        <div class = "onetoone">
                            <p class = "who">{{debitor}}</p>
                            <p class = "dueto">doit à </p>
                            <p class = "who">{{creditor}}</p>
                        </div>
                        <p class = "reimbursement-amount">{{amount}} {{count.currency}}</p>
                    </div>
                    <div class = "more-options">
                        Plus d'options
                    </div>
                </div>
                {% endif %}
            {%endfor%}
        {%endfor%}
    </main>

</body>
</html>