{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Spending</title> 
    <link rel="stylesheet" href="{% static 'css/spending.css'%}">
{% endblock %}

{% block header %}
    <nav class = "header-nav"> 
        <a href="{% url 'listecount' %}" class = "backtolistecount" id = "backtolistecount"><img src="{%static 'images/back.png' %}" alt="Retour en arrière"></a>
        <a class = "tricount-characteristics" href = "{% url 'modifycount' count.id %}" >
            <p class = "tricount-title">{{count.title}}</p>
            {% for name in names%}
                <p class = "tricount-participants">{{name}}</p>
            {% endfor%}
        </a>
        <a href=""><img width = 20px src="{%static 'images/loupe.png'%}" alt="loupe de recherche"></a>
        <a href="{% url 'chat' count.id %}" class="chat"><img width = 20px src="{%static 'images/cloche.png'%}" alt="chat"></a>
        <!--<a href="" class="premium"><img width = 20px src="{% static 'images/crown.png' %}" alt="premium"></a>-->
        <!--<a href="" class="options"> <img width = 20px src="{% static 'images/settings.png' %}" alt="parameters"> </a>-->
    </nav>
    <div class = header-spending>
        <a class = "gotospending" data-light="underline" href = "{% url 'spending' count.id %}">Dépenses</a>
        <a class = "gotoequilibria" href = "{% url 'equilibria' count.id %}">Equilibres</a>
    </div>
{% endblock %}

{% block main %}
    {%for spend in spending%}
    <a class = "spending" id="spending-{{spend.id}}" href = "{% url 'spending-details' count.id spend.id %}">
        <div class = "spending-reason">
            <p class = "spending-title">{{spend.title}}</p>
            <p class = "spending-payer">{{spend.payer}}</p>
        </div>
        <div class = "spending-amount-div">
            <p class = "spending-amount">{{spend.amount|floatformat:2}}</p>
            <p class = "spending-date">Hier</p>
        </div>
    </a>
    {%endfor%}
{% endblock %}

{% block footer %}
    <a class = "new-spending" href="{% url 'newspending' count.id %}">+</a>
    <div class = footer>
        <div class = "total-cost">
            <p>Mon coût total</p>
            <p>{{credit_owner|floatformat:2}} {{count.currency}}</p>
        </div>
        <div class = "total-spending">
            <p>Total dépenses</p>
            <p>{{totalcost|floatformat:2}} {{count.currency}}</p>
            <p>{{totalpound|floatformat:2}} GBP</p>
        </div>
    </div>
{% endblock %}
