<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending</title>
</head>
<body>
    <header>
        <nav class = "header-nav">
            <a class = "backtolistecount" href="/count/">retour</a>
            <div class = "tricount-characteristics" >
                <p>Name tricount</p>
                <p>Tricount participants</p>
            </div>
            <a href="">Recherche</a>
            <a href="">Premium</a>
            <a href="">Parameters</a>
        </nav>
        <div class = header-spending>
            <p>Dépenses</p>
            <p>Equilibres</p>
        </div>
    </header>
    <main>
        <div class = "spending">
            <div class = "spending-reason">
                <p>Logement Lausanne</p>
                <p>payé par moi</p>
            </div>
            <div class = "spending-amount">
                <p>250 euros</p>
                <p>Hier</p>
            </div>
        </div>
    </main>
</body>
</html>