{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Spending details</title> 
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{%static 'css/spending-details.css'%}">
{% endblock %}

{% block header %}
    <nav>
        <a href="{% url 'spending' idcount %}" class = "backtospending" id = "backtospending"><img src="{%static 'images/back.png' %}" width = "20px" alt="Retour en arrière"></a>
        <a href="{% url 'modifyspending' idcount spending.id %}" class = "modify-spending">Modify</a>
    </nav>
    <h1 class = "title-spending">
        {{spending.title}}
    </h1>
    <h2 class = "price-spending">
        {{spending.amount|floatformat:2}}
    </h2>
    <nav class = "payer-date">
        <p class = "payer"> Paid by {{spending.payer}}</p>
        <p class = "date"> {{spending.date}} </p>
    </nav>
{% endblock %}

{% block main %}
    <div class = "forwho"> For {{spending.receivers.len}} participants including </div>
    {% for participant,amount in spending.receivers.items %}
    <div class = "participant">
        <p class = "participant-name"> {{participant}}</p>
        <p class = "participant-amount"> {{amount|floatformat:2}} </p>
    </div> 
    {% endfor%}
{% endblock %}

{% block footer %}
    {% if spending_index != 0 %}
        <a class = "previous" href = "{% url 'spending-details' idcount previousidspending %}">Previous</a>
    {% endif %}
    {% if spending_index != lastspendingindex %}
        <a class = "following" href = "{% url 'spending-details' idcount followingidspending %}">Following</a>
    {% endif %}
{% endblock %}

{% block js %}
{% endblock %}
 