{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <title>Spending details</title> 
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{%static 'css/spending-details.css'%}">
{% endblock %}

{% block header %}
    <nav>
        <a href="{% url 'spending' idcount %}" class = "backtospending" id = "backtospending"><img src="{%static 'images/back.png' %}" width = "20px" alt="Retour en arrière"></a>
        <a href="{% url 'modifyspending' idcount idspending %}" class = "modify-spending">Modifier</a>
    </nav>
    <h1 class = "title-spending">
        {{spending.title}}
    </h1>
    <h2 class = "price-spending">
        {{spending.amount}}
    </h2>
    <nav class = "payer-date">
        <p class = "payer"> Payé par {{spending.payer}}</p>
        <p class = "date"> {{spending.date}} </p>
    </nav>
{% endblock %}

{% block main %}
    <div class = "forwho"> Pour {{spending.receivers.len}} participants, dont </div>
    {% for participant,amount in spending.receivers.items %}
    <div class = "participant">
        <p class = "participant-name"> {{participant}}</p>
        <p class = "participant-amount"> {{amount}} </p>
    </div> 
    {% endfor%}
{% endblock %}

{% block footer %}
    {% if idspending != 1 %}
        <a class = "previous" href = "{% url 'spending-details' idcount previousidspending %}">Précédent</a>
    {% endif %}
    {% if idspending != number_of_spending %}
        <a class = "following" href = "{% url 'spending-details' idcount followingidspending %}">Suivant</a>
    {% endif %}
{% endblock %}

{% block js %}
{% endblock %}
 