{% extends 'layout.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Welcome to tricount app</title>
{% endblock %}

{% block header %}
    <a class = "welcome" href="{% url 'welcome' %}">Create an account</a>
    <a class = "login" href="{% url 'log' %}">Connect</a>
{% endblock %}

{% block main %}
    <form action="{% url 'register' %}" method = "post">
        {% csrf_token %}
        <p>Fill following inputs</p>
        <input class = "username" type="text" placeholder="Username" name = "username" autocomplete="off">
        <input class = "email" type="email" placeholder="email" name = "email" autocomplete="off">
        <input class = "password" type="password" placeholder="Password" name="password" autocomplete="new-password">
        <input class = "submit" type="submit" value="Send">
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }} message"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %} 

{% block js %}
    <script src = "{% static 'js/welcome.js' %}"></script>
{% endblock %}
 
