{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <header>
        <a class = "welcome" href="/welcome/"><button>Créer un compte</button></a>
        <a class = "login" href="/login/"><button>Se connecter</button></a>
    </header>
    <form action="/welcome/register" method = "post">
        {% csrf_token %}
        <input class = "username" type="text" placeholder="Username" name = "username">
        <input class = "email" type="email" placeholder="email" name = "email">
        <input class = "password" type="password" placeholder="Password" name="password">
        <input class = "submit" type="submit">
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <script src = "{% static 'js/welcome.js' %}"></script>
</body>
</html>